<div class="container">
    <div class="d-flex">
        <div class="m-3"><a routerLink="floatig-banner">Route-1</a></div>
        <div class="m-3"><a routerLink="grid-list-view">Route-2</a></div>
        <div class="m-3"><a routerLink="timer">Route-3</a></div>
        <div class="m-3"><a routerLink="timer-using-subject">Route-4</a></div>
        <div class="m-3"><a routerLink="student-marks-table">Route-5</a></div>
        <div class="m-3"><a routerLink="dynamic-divs">Route-6</a></div>
    </div>
</div>
<router-outlet></router-outlet>
