.text {
    position: relative;
    animation: myfirst 5s linear 2s infinite;
  }
  
  @keyframes myfirst {
    0%   {left:0px; top:0px;}
    /* 25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;} */
    100% {left:1000px; top:0px;}
  }

  .overflow {
    width: 975px;
    overflow: hidden;
  }